*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
/* .....................
   hero section
........................ */
.hero-container{
    background: url(./images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.hero-container .content{
    width: 650px;
    gap: 20px;
    text-align: right;
    padding-right: 10%;
    margin-bottom: 24px;
}
 .hero-container .content h2{
    font-size: 65px;
    font-weight: bold;
 }
 .hero-container .content p{
    font-size: 16px;
    color:#444343;
    line-height: 26px;
    margin-top: 24px;
 }
  .hero-container .content .btn{
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: #F15B22;
    margin-top: 32px;
    color: #ffffff;
    padding: 20px 26px;
    border-radius: 5px;
    cursor: pointer;
  }
  /* .....................
   previous section
........................ */
.previous-container{
    display: flex;
    max-width: 1072px;
    /* margin: 0 auto; */
    margin: 130px 280px 130px 206px;
    align-items: center;
    gap:50px;
}
.previous-container .content h2{
    font-size: 40px;
    color:#151414;
    margin-bottom: 24px;
}
.previous-container .content p{
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
.previous-container .content .list{
    margin-top: 16px;
}
.previous-container .content .list p{
    line-height: 36px;
}
.previous-container .content .list i{
    margin-right: 8px;
    color:#16D887 ;
}